<mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Sign In to Record Scale Data and View Reports
                </mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column">

                <mat-form-field appearance="standard" [color]="email.valid && 'accent'">
                    <input
                    matInput
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                    autocomplete="off"
                    aria-label="Email"
                    />

                    <mat-error *ngIf="email.invalid && email.dirty">
                        You must enter a valid email address.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" [color]="email.valid && 'accent'">
                    <input
                    matInput
                    formControlName="password"
                    type="password"
                    placeholder="Password"
                    autocomplete="off"
                    aria-label="Password"
                    />

                    <mat-error *ngIf="password.invalid && password.dirty">
                        Password must be at least 8 characters long.
                    </mat-error>
                </mat-form-field>

                <mat-error class="server-error">{{ serverMessage }}</mat-error>

                <button
                    mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="form.invalid || loading"
                >
                    Sign In
                </button>

            </mat-card-content>
        </mat-card>
    </form>

    </mat-grid-tile>
</mat-grid-list>

